<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="../statics/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<body>
    <header class="header">
        <div class="contenedor contenedor__header">

            <div class="logo">
                <a href="Noticias.html">Noticias</a>
                <a href="ayuda.html">Ayuda</a>
            </div>

            <nav class="navbar">
                <a href="comics.html">Comics</a>
                <a href="ofertas.html">Ofertas</a>
                <a href="vender.html">Vender</a>
            </nav>

            <div class="login">
                <button>Acceder</button>
                <button>Registrate</button>
            </div>

            <div class="buscador">
                <input type="text" placeholder="Buscar...">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </header>

    <main>
       
    </main>

    <footer>

    </footer>
</body>
</html>
